.blog-card-two{
    width: 350px;
    height: 400px;
  
    position: relative;
margin: 0px 15px 30px 0;
border-radius: 15px;
}
.blogimg-two{
    width: 350px;
    height: 400px;
    border-radius: 15px;

}
.bloheadingoftwo{
    font-size: 25px;
    padding-right: 2px;
}