.third-blog-card{
    width: 80%;
    height: 350px;
    
    margin: 10px auto;
display: flex;
box-shadow: 0 0 5px 1px rgb(233, 220, 220);
border-radius: 15px;

}
.third-blog-img-body{
    width: 50%;
    height: 100%;

    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background:linear-gradient(10deg,rgba(0, 0, 0,0.3),rgba(255, 255, 255,0.5)),url("./blog2.webp");
}
.third-blog-card-body{
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.featured{
    color: blue;
    font-size: 20px;
    background-color: rgb(220, 220, 233);
    display: inline;
    padding: 8px;
    border-radius: 20px;
    width: 120px;
}
.third-blog-heading{
   
    color: rgb(37, 33, 33);

}
.third-blog-content{
    font-size: 20px;
    color: rgb(37, 33, 33);
}
.blackusername{
    color: rgb(37, 33, 33);
}
.blackchnnel{
    color: rgb(103, 97, 97);
}
.date{
    color: rgb(37, 33, 33);
}